#klikni {
-fx-background-image: url(/slike/bb.png);
}
#ebe {
-fx-background-image:url(/slike/zju5.png);
}
#pog{
-fx-background-image:url(/slike/pog.png);
}
#prom{
-fx-background-image:url(/slike/prom.png);
}
